{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{% block field_sets %}
	{% for fieldset in adminform %}
		{#  Власний шаблон для виводу fieldset'ів #}
		{% include "admin/strategy_fieldset.html" with inline_admin_formsets=inline_admin_formsets %}
	{% endfor %}
{% endblock %}

{# Для того щоб уникнути повторного виведення inline'ів кінці форми фільтруємо їх в циклі #}
{% block inline_field_sets %}
	{% for inline_admin_formset in inline_admin_formsets %}
		{% if not inline_admin_formset.opts.insert_after %}
			{% include inline_admin_formset.opts.template %}
		{% endif %}
	{% endfor %}
{% endblock %}