{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pomichnyk :: {% block title %}Головна{% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>

	<header class="navbar">
		<div class="container nav-content">
			<div class="logo">
				<a href="/" class="logo-text" data-text="Pomichnyk">Pomichnyk</a>
			</div>

			<button class="nav-toggle" aria-label="Toggle navigation">
				<span></span>
				<span></span>
				<span></span>
			</button>

			<nav class="nav-menu">
				<ul class="nav-links">
					<li><a href="#">Мапи</a></li>
					<li><a href="#">Філософія</a></li>
					<li><a href="#">Адмінка</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<main class="container main-content">
		{% block content %}
		<div class="dashboard">

			<a href="/tutorial/" class="dash-card dash-tutorial">
				<div class="dash-bg" style="background-image: url('{% static "static_img/tutorial.png" %}')"></div>
				<div class="dash-content">
					<h2>Туторіал</h2>
					<p>Прочитайте перед використанням</p>
				</div>
			</a>

			<a href="/maps/" class="dash-card dash-maps">
				<div class="dash-bg" style="background-image: url('{% static "static_img/lobby_mapveto_png.png" %}')"></div>
				<div class="dash-content">
					<h2>Мапи</h2>
					<p>Позиції, страти та розкидка</p>
				</div>
			</a>

			<a href="/admin/" class="dash-card dash-admin">
				<div class="dash-bg" style="background-image: url('{% static "static_img/csgo_polizei.png" %}')"></div>
				<div class="dash-content">
					<h2>Адмінка</h2>
					<p>Вхід в акаунт та контрибуція</p>
				</div>
			</a>

		</div>
		<div class="lower-main">
			<blockquote>
				<h3>Yabbadabbadoo ▄︻デ══━一✨</h3>
			</blockquote>
		</div>
		{% endblock %}
	</main>

	<footer class="footer">
		<div class="container">
			<p>© {{ now|date:"Y" }} Pomichnyk. All rights reserved.</p>
		</div>
	</footer>
<script>
	const toggle = document.querySelector(".nav-toggle");
	const menu = document.querySelector(".nav-menu");

	toggle.addEventListener("click", () => {
		menu.classList.toggle("active");
		toggle.classList.toggle("active");
	});
</script>
</body>
</html>